<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>Controllers.Admin.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDashboard</servlet-name>
        <servlet-class>Controllers.Staff.StaffDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddHouse</servlet-name>
        <servlet-class>Controllers.House.AddHouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddHouse</servlet-name>
        <url-pattern>/AddHouse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListHouse</servlet-name>
        <servlet-class>Controllers.House.ListHouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListHouse</servlet-name>
        <url-pattern>/ListHouse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateHouse</servlet-name>
        <servlet-class>Controllers.House.UpdateHouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateHouse</servlet-name>
        <url-pattern>/UpdateHouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDashboard</servlet-name>
        <url-pattern>/staffDashboard</url-pattern>
    </servlet-mapping>
</web-app>
